.music-player {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .prev-btn,
  .playpause-btn,
  .next-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #444;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .playpause-btn:hover {
    color: #00bd56;
  }
  
  .time-info {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
  
  .current-time,
  .total-duration {
    font-size: 14px;
    margin: 0 10px;
  }
  
  .seek-slider {
    width: 100%;
    margin: 0 10px;
  }
  
  .volume-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .volume-slider {
    width: 80px;
    margin: 0 10px;
  }
  
  .playlist {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  li .play-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #444;
    cursor: pointer;
    margin-right: 10px;
  }
  
  li .play-btn:hover {
    color: #00bd56;
  }
  
  li span {
    font-size: 16px;
    color: #444;
  }
  
  li.active {
    color: #00bd56;
    font-weight: bold;
  }

  .file-upload {
    margin-top: 20px;
    text-align: center;
  }
  
  .file-upload label {
    background-color: #00bd56;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .file-upload label:hover {
    background-color: #00a14e;
  }
  
  #file-input {
    display: none;
  }