.body {
    background: #f0f0f0;
}
.dino {
    width: 60px;
    height: 60px;
    background-image: url(img/dino.png);
    position: absolute;
    bottom: 0;
}
.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(img/cactus.png);
}
.game-over {
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0;
    }
}
.background {
    position: absolute;
    background-image: url(img/background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}
/*
.button-restart {
    position: absolute;
    text-align: center;
    color: #5a5656;
    border: red 2px;
    padding: 2px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}*/